* {
  margin: 0;
  outline: none !important;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Alegreya Sans", sans-serif;
}

p,
a,
button,
label {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.display {
  display: block;
}

.hide {
  display: none;
}

.cabecera img {
  width: 100%;
}

.signInRS img {
  width: 27px;
}

.logotipo {
  width: 60%;
  margin: auto;
}

.logotipo img {
  width: 100%;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
}

.form input {
  margin-bottom: 20px;
  border: 2px solid;
  border-radius: 10px;
  padding: 5px;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.styleH2 {
  margin-bottom: 20px;
}

#inicio-sesion p {
  margin: 0px;
  font-size: 13px;
  font-family: "Lato", sans-serif;
}

#buttonSignIn,
#buttonSignUp {
  background: #b9e769;
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
  margin-bottom: 30px;
  color: black;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.container {
  min-height: 100vh;
  position: relative;
}

main {
  overflow: auto;
  min-height: 750px;
}

footer {
  background: #ceee96;
  position: absolute;
  bottom: 0;
  width: 99%;
  height: 20px;
  padding: 2px;
}

a {
  font-size: 13px;
  text-decoration: none;
  font-weight: 600;
  color: unset;
  margin: 0px;
  margin: 0px 0px 0px 5px;
}

.registrate {
  display: flex;
  margin: 15px auto !important;
  width: 80%;
  justify-content: center;
}

.signInRS {
  margin: 10px 0px;
}

.signInRS img {
  margin: 0px 5px;
}

.modal-error p {
  color: red;
}

.modal-error {
  margin-bottom: 20px;
}

.cabeceraMobile img {
  width: 100%;
}

.cabeceraDesktop {
  display: none;
}

#cabecera {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  border-bottom: 1px solid #bebebe;
}

#buttonLogout {
  border: none;
  background: none;
  cursor: pointer;
  color: black;
}

.logotipoTimeline img {
  width: 100%;
  align-self: center;
}

.logotipoTimeline {
  width: 30%;
  display: flex;
}

.prepost {
  margin: 25px 0px;
}

#postUser {
  border: none;
  background: #f0f0f0;
  padding: 6px;
  border-radius: 10px;
}

#sendPost {
  border: none;
  background: #efea5a;
  border-radius: 10px;
  padding: 6px;
  cursor: pointer;
}

.userData img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

#tabla > div {
  margin: 20px auto;
  width: 60%;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  padding: 0px 0px 15px 0px;
}

.userData {
  padding: 10px;
  background: #dedede;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  border-bottom: 1px solid #c9c9c9;
}

.postedMessage {
  width: 80%;
  margin: 15px 10px;
  color: black;
  background: none;
  border: none;
}

.userData img {
  margin: 0px 15px 0px 0px;
}

.buttonsData button {
  border: none;
  background: #efea5a;
  border-radius: 10px;
  padding: 6px;
}

.userData label {
  align-self: center;
  font-size: 20px;
}

.modalProfile {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  position: absolute;
}

.modal * {
  margin: 7px 0px;
}

.modal input[type="text"] {
  width: 100%;
  border: none;
  background: #f0f0f0;
  padding: 6px;
  border-radius: 10px;
}

.modal button {
  border: none;
  background: #efea5a;
  border-radius: 10px;
  padding: 6px;
  cursor: pointer;
}

.modal input#fotoUser {
  border: none;
}

.updateData {
  width: 30%;
  display: flex;
  flex-flow: column;
}

.modalClose {
  background: #f29e4c;
  border-radius: 50%;
  width: 20px;
  color: white;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  font-family: "Alegreya Sans", sans-serif;
}

.labelUpdatePhoto {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
  width: 200px;
  background: #efea5a;
  width: 100%;
}

.labelUpdatePhoto:hover {
  transform: scale(1.03);
}

@media only screen and (min-width: 500px) {
  main {
    min-height: 850px;
  }
}

@media only screen and (min-width: 600px) {
  .styleH2 {
    padding: 5px;
  }

  .cabeceraMobile {
    display: none;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 45%;
    max-width: 400px;
    margin: 0 auto;
  }

  footer {
    display: none;
  }

  .cabeceraDesktop {
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 100%;
  }

  .cabeceraDesktop img {
    width: 100%;
  }

  #cabecera {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    border-bottom: 1px solid #bebebe;
  }

  #imageProfile {
    width: 50px;
    height: 50px;
    align-self: center;
  }

  #buttonLogout {
    border: none;
    background: none;
    cursor: pointer;
    color: black;
  }

  .logotipoTimeline img {
    width: 100%;
    align-self: center;
  }

  .logotipoTimeline {
    width: 30%;
    display: flex;
  }

  .prepost {
    margin: 25px 0px;
  }

  #postUser {
    border: none;
    background: #f0f0f0;
    padding: 6px;
    border-radius: 10px;
  }

  #sendPost {
    border: none;
    background: #efea5a;
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
  }

  .galletita {
    box-shadow: 7px 0px 14px 0px rgba(0, 0, 0, 0.2);
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 10px;
    width: 60%;
    padding: 20px;
  }
}
